.hero {
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 2rem;
}

.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.hero-content p {
  font-size: 1.2rem;
  color: #cbd5e1;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.get-started,
.learn-more {
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}